.header-action-drawer-container {
  color: lightgray;

  padding-bottom: 10px;

  padding-right: 20px;
}

.header-action-drawer__row {
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding-top: 10px;
}

.header-action-drawer__separator {
  background-color: lightgray;

  height: 15px;
  width: 1px;

  margin-left: 10px;
  margin-right: 10px;
}

.header-action-drawer__deadline-scheduled-button {
  text-transform: uppercase;
  width: 90px;
  text-align: center;
}
