@import '../../../colors.css';

.checkbox {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-right: 5px;

  border: 2px solid var(--base2);
  border-radius: 2px;
  box-sizing: border-box;

  display: inline-block;

  color: var(--base00);
}

.checkbox__inner-container {
  display: flex;
  justify-content: center;
}
