[phases.setup]
nixPkgs = ['nodejs', 'yarn']

[phases.install]
cmds = ['yarn install --frozen-lockfile']

[phases.build]
cmds = [
  'yarn build'
]

[start]
cmd = 'npx serve -s build-runtime -p $PORT'

[variables]
NODE_ENV = 'production'
