[phases.setup]
nixPkgs = ['nodejs', 'yarn']

[phases.install]
cmds = ['yarn install --frozen-lockfile']

[phases.build]
cmds = [
  'chmod +x bin/railway_build.sh',
  'chmod +x bin/transient_env_vars.sh',
  './bin/railway_build.sh'
]

[start]
cmd = 'npx serve -s serve -p $PORT'

[variables]
NODE_ENV = 'production''
