[phases.setup]
nixPkgs = ['nodejs', 'yarn']

[phases.install]
cmds = ['yarn install --frozen-lockfile']

[phases.build]
cmds = [
  'yarn build',
  'chmod +x bin/transcient_env_vars.sh',
  './bin/transcient_env_vars.sh switch build build-runtime'
]

[start]
cmd = 'npx serve -s build-runtime -p $PORT'

[variables]
NODE_ENV = 'production'
