[phases.setup]
nixPkgs = ['nodejs', 'yarn']

[phases.install]
cmds = ['yarn install --frozen-lockfile']

[phases.build]
cmds = [
  'chmod +x bin/transient_env_vars.sh',
  'bin/transient_env_vars.sh bait >> .env',
  'yarn build',
  'bin/transient_env_vars.sh switch dist serve'
]

[start]
cmd = 'npx serve -s serve -p $PORT'

[variables]
NODE_ENV = 'production'