.action-drawer-container {
    position: fixed;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border: 1px solid lightgray;
    background-color: white;
    box-shadow: 2px 2px 5px 0px rgba(148, 148, 148, 0.75);
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 20px;
    box-sizing: border-box;
    overflow-x: auto;
    white-space: nowrap;
}

.action-drawer__btn {
    margin-right: 20px;
    position: relative;
}

.action-drawer__done-btn {
    font-weight: bold;

    height: 60px;
    width: 100%;
    margin-left: -10px;
}

.action-drawer__separator {
    background-color: lightgray;
    width: 2px;
    height: 35px;
    display: inline-block;
    margin-right: 20px;
    transform: translateY(12px);
}
