.table-part {
    border-collapse: collapse;
    margin-top: 3px;
    margin-bottom: 3px;
}

.table-part__cell {
    border: 1px solid lightgray;

    white-space: pre;
}

.table-part__cell--selected {
    background-color: rgba(94, 52, 140, 0.5);
}
