# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  deploy-stage:
    docker:
      - image: cimg/node:20.17.0
    steps:
      - checkout
      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - yarn-packages-{{ checksum "yarn.lock" }}
      - run:
          name: Install dependencies
          command: sudo apt-get update -yq && sudo apt install -yq lftp pandoc gvfs emacs
      - run:
          name: Deploy to https://staging.organice.200ok.ch
          command: 'FTP_USER=${FTP_USER_STAGE} FTP_PASSWD=${FTP_PASSWD_STAGE} ./bin/compile_and_upload.sh'
      - run:
          name: Deploy documentation to https://staging.organice.200ok.ch/documentation.html
          command: 'FTP_USER=${FTP_USER_STAGE} FTP_PASSWD=${FTP_PASSWD_STAGE} ./bin/compile_doc_and_upload.sh'
  deploy-prod:
    docker:
      - image: cimg/node:20.17.0
    steps:
      - checkout
      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - yarn-packages-{{ checksum "yarn.lock" }}
      - run:
          name: Install dependencies
          command: sudo apt-get update -yq && sudo apt install -yq lftp pandoc gvfs emacs
      - run:
          name: Deploy to https://organice.200ok.ch
          command: ./bin/compile_and_upload.sh
      - run:
          name: Deploy documentation to https://organice.200ok.ch/documentation.html
          command: ./bin/compile_doc_and_upload.sh

  lint:
    docker:
      - image: cimg/node:20.17.0
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - yarn-packages-{{ checksum "yarn.lock" }}
      - run:
          name: Install Javascript Dependencies
          command: yarn install --frozen-lockfile
      - save_cache:
          name: Save Yarn Package Cache
          key: yarn-packages-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
      - run:
          name: eslint
          command: yarn eslint
      - run:
          name: prettier-eslint
          # Make the build output more useful by immediately showing full details of
          # any style violations.
          command: |
            yarn prettier-eslint --write
            GIT_PAGER= git diff
            git reset --hard HEAD
            yarn prettier-eslint --list-different

  test-unit:
    docker:
      - image: cimg/node:20.17.0
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - yarn-packages-{{ checksum "yarn.lock" }}
      - run:
          name: Install Javascript Dependencies
          command: yarn install --frozen-lockfile
      - run:
          name: Show Dependencies
          command: yarn list
      - save_cache:
          name: Save Yarn Package Cache
          key: yarn-packages-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
      - run:
          name: Run Unit Tests
          command: yarn test
      - store_test_results:
          path: coverage

  build-production:
    docker:
      - image: cimg/node:20.17.0
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - yarn-packages-{{ checksum "yarn.lock" }}
      - run:
          name: Install Javascript Dependencies
          command: yarn install --frozen-lockfile
      - save_cache:
          name: Save Yarn Package Cache
          key: yarn-packages-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
      - run:
          name: Build Production Bundle
          command: yarn build
      - save_cache:
          name: Save Production Build Cache
          key: prod-build-{{ .Revision }}
          paths:
            - dist/
      - store_artifacts:
          path: dist

  test-e2e:
    docker:
      - image: cimg/node:20.17.0-browsers
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - yarn-packages-{{ checksum "yarn.lock" }}
      - run:
          name: Install Javascript Dependencies
          command: yarn install --frozen-lockfile
      - save_cache:
          name: Save Yarn Package Cache
          key: yarn-packages-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
      - run:
          name: Install Playwright Browsers
          command: npx playwright install --with-deps
      - run:
          name: Run E2E Tests
          command: yarn test:e2e
      - store_test_results:
          path: e2e/test-results
      - store_artifacts:
          path: e2e/test-results
      - store_artifacts:
          path: e2e/playwright-report

  build-docs:
    docker:
      - image: cimg/node:20.17.0

    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: Install Documentation Dependencies
          command: sudo apt-get update -yq && sudo apt install -yq pandoc emacs

      - run:
          name: Compile documentation
          command: ./bin/compile_doc.sh

  push-image:
    machine: true
    steps:
      - checkout
      # Build production docker image and push it to DockerHub
      - run: docker build --rm=false --target production -t ${DOCKER_HUB_USR}/organice:${CIRCLE_BUILD_NUM} .
      - run: docker login --username ${DOCKER_HUB_USR} --password ${DOCKER_HUB_PWD}
      - run: docker push ${DOCKER_HUB_USR}/organice:${CIRCLE_BUILD_NUM}
      # Re-assign latest tag to current build
      - run: docker tag ${DOCKER_HUB_USR}/organice:${CIRCLE_BUILD_NUM} ${DOCKER_HUB_USR}/organice:latest
      - run: docker push ${DOCKER_HUB_USR}/organice:latest

workflows:
  version: 2
  build-deploy:
    jobs:
      # Phase 1: Parallel testing and linting
      - lint
      - test-unit
      - test-e2e
      - build-docs

      # Phase 2: Build jobs (require all tests/lint to pass)
      - build-production:
          requires:
            - lint
            - test-unit
            - test-e2e
      - push-image:
          requires:
            - lint
            - test-unit
            - test-e2e

      # Phase 3: Deploy (requires build + docs)
      - deploy-prod:
          requires:
            - build-production
            - push-image
            - build-docs
            - lint
            - test-unit
            - test-e2e
          filters:
            branches:
              only: master
      - deploy-stage:
          requires:
            # Staging: fast iteration, no gates
          filters:
            branches:
              only: develop
