.header-bar {
    background-color: #5E348C;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.header-bar__logo {
    width: 45px;
}

.header-bar__title {
    color: white;
    margin: 0;
    margin-left: 5px;
}

.header-bar__back-button {
    color: white;
    text-decoration: none;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.header-bar__back-button__directory-path {
    margin-left: 5px;
}

.header-bar__actions {
    margin-left: auto;
    display: flex;
    align-items: center;

    color: white;
}

.header-bar__actions__item {
    color: white;

    margin-left: 20px;
}

.whats-new-icon--has-unseen {
    color: #ff5b5b;
}
