/* Currently, the markup is the same as in the AgendaModal component.
 * Hence the CSS rules from there apply. */

.task-list__filter-input {
  margin: 1em 0 1em 0;
  box-sizing: border-box;
  width: 100%;
}

.task-list__filter-input-invalid {
  /* border-color: red; */
  /* TODO: with 1px (default), the color is almost not visible when the input is focused. */
  border: 2px solid red;
}
