.agenda__title {
  color: #5e348c;

  margin-top: 0;
}

.agenda__tab-container {
  display: flex;
  justify-content: center;
}

.agenda__timeframe-header-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 15px;

  color: #5e348c;
}

.agenda__timeframe-header {
  font-weight: bold;
  font-size: 18px;

  text-align: center;

  margin-left: 15px;
  margin-right: 15px;

  min-width: 230px;
}

.agenda__days-container {
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
