.btn {
    background-color: #3d696a;
    color: white;
    border: 0;
    padding: 8px 16px;
}

.btn--circle {
    border-radius: 50%;
    font-weight: bold;
    padding: 0;
    width: 60px;
    height: 60px;
}

.btn--disabled {
    background-color: lightgray;
}
