.slide-up-outer-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(94, 52, 140, 0.1);
}

.slide-up-inner-container {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;

  padding: 15px 10px 0 10px;

  border: 1px solid #5e348c;
  border-bottom: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  background-color: white;
}
